[Desktop Entry]
Type=Application
Name=Blue and Pink Synth Editor
Exec=/home/jtpack/Blue-and-Pink-Synth-Editor/dist/BlueAndPinkSynthEditor/BlueAndPinkSynthEditor
